<style>
    .raleway {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    } 

    * {
        margin: 0;
        padding: 0;
        font-family: "Raleway";
        color: white;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    header {
        background: black;
    }

    #nav-link-list {
        list-style-type: none;
        font-size: 1em;
    }

    #nav-link-list > li {
        float: right;
        margin-right: 1.5em;
        padding-top: 1em;
        transition: 300ms;
    }

    #nav-link-list > li:hover {
        color: grey;
        padding-top:1.5em;
        transform:rotateX(20deg);
        cursor: default;
    }

    #header-logo {
        height: auto;
        width: 7.5em;
        padding-left: 1em;
        padding-top: 1em;
    }

    table {
        width: 100%;
        height: 15%;
        cursor: default;
    }

    #initial-cell {
        width: 15%;
    }

    #secondary-cell {
        width: 85%;
        vertical-align: top;
    }

    #mainBg {
        height: auto;
        width: 100em;
    }

    /* Small mobile phones */
    @media screen and (max-width: 480px) {
        /* Adjust header logo size */
        #header-logo {
            width: 5em;
        }

        /* Stack the navigation links vertically */
        #nav-link-list {
            display: block;
            text-align: center;
        }

        #nav-link-list > li {
            float: none;
            margin-right: 0;
        }

        table {
            width: 100%;
        }
    }

    /* Larger mobile phones and small tablets */
    @media screen and (max-width: 768px) {
        /* Make the header logo smaller */
        #header-logo {
            width: 6em;
        }

        /* Stack navigation links vertically for larger phones */
        #nav-link-list {
            text-align: center;
        }

        #nav-link-list > li {
            float: none;
            margin-right: 0;
        }
    }

    /* Tablets and small screens in landscape */
    @media screen and (max-width: 1024px) {
        #header-logo {
            width: 7em;
        }

        #nav-link-list {
            text-align: center;
        }

        #nav-link-list > li {
            float: none;
            margin-right: 1em;
        }
    }

    /* Laptops and small desktops */
    @media screen and (min-width: 1025px) and (max-width: 1280px) {
        /* Adjust logo and spacing for larger screens */
        #header-logo {
            width: 7.5em;
        }

        #nav-link-list > li {
            margin-right: 1.5em;
        }
    }

    /* Large desktops and 4K displays */
    @media screen and (min-width: 1281px) {
        /* Larger logo for larger screens */
        #header-logo {
            width: 10em;
        }

        #nav-link-list > li {
            margin-right: 2em;
        }
    }

    /* High-density screens (Retina) */
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        /* Make sure the logo remains crisp on Retina screens */
        #header-logo {
            width: 7.5em;
        }

        #nav-link-list > li {
            margin-right: 1.5em;
        }
    }
</style>
<header>
    <script src="https://kit.fontawesome.com/5f2f4f2ed0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap" rel="stylesheet"/>
    <nav>
        <table>
            <tr id="solo-row">
                <td id="initial-cell">
                    <img id="header-logo" src="../assets/logo/logoNoBG.png"/>
                </td>
                <td id="secondary-cell">
                    <ul id="nav-link-list">
                        <% if(active){ %>
                            <li><a href="/Logout">Logout</a></li>
                            <li><a href="/MyProfile">Profile</a></li>
                          <% } else{ %>  
                            <li><a href="/Signup">Signup</a></li>
                            <li><a href="/Login">Login</a></li>
                         <% } %>
                        <li><i class="fa-solid fa-grip-lines-vertical" style="color: #fc851d;"></i></li>
                        <li><a href="/Contact">Contact</a></li>
                        <li><a href="/Buy">Buy</a></li>
                        <li><a href="/About">About</a></li>
                        <li><a href="/">Home</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </nav>
</header>