<head>
    <title>Investors Center</title>
    
</head>
<style>
    body {
        height: 100%;
        width: 100%;
        background-color: black;
    }
</style>
<body>
    <%- include('./partials/navbar.ejs') %>
</body>