<head>
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://www.google.com">
    <link rel="preconnect" href="https://www.gstatic.com" crossorigin>
</head>
<style>
    body {
        height: 100%;
        width: 100%;
        background-color: black;
        background-image: url("../assets/bgImage/bg.png");
        background-size: cover;
    }
</style>
<body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/signupForm.ejs') %>
</body>
<script src="https://www.google.com/recaptcha/api.js?render=6Lf4K1YqAAAAANnHm3Fx82rERMw_GrNipnt1Vyfv"></script>
<script>
    // Ensure grecaptcha is ready
    grecaptcha.ready(function() {
        document.getElementById('signup-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form from submitting immediately
            grecaptcha.execute('6Lf4K1YqAAAAANnHm3Fx82rERMw_GrNipnt1Vyfv', {action: 'submit'}).then(function(token) {
                // Set the token in the hidden input field
                document.getElementById('g-recaptcha-response').value = token;
                // Now submit the form
                document.getElementById('signup-form').submit();
            }).catch(function(error) {
                console.error('reCAPTCHA failed:', error);
            });
        });
    });
</script>