<head>
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://www.google.com">
    <link rel="preconnect" href="https://www.gstatic.com" crossorigin>
</head>
<style>
    body {
        height: 100%;
        width: 100%;
        background-color: black;
        background-image: url("../assets/bgImage/bg.png");
        background-size: cover;
    }
</style>
<body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/signupForm.ejs') %>
</body>