<head>
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    body {
        height: 100%;
        width: 100%;
        background-color: black;
        background-image: url("../assets/bgImage/bg.png");
        background-size: cover;
    }
</style>
<body>
    <head>
        <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lf4K1YqAAAAANnHm3Fx82rERMw_GrNipnt1Vyfv"></script>
        <!-- Your code -->
      </head>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/signupForm.ejs') %>
</body>